<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<div th:insert="header"></div>
<body class="text-center" style="background-color: #7cb5bd">

<h3 th:text="#{login.title}">login.title</h3>
<form name="loginForm" method="POST" action="/login">
    <div class="mb-3">
        <label class="form-label" th:text="#{login.email}">login.email</label>
        <div class="input-group mb-3 mx-auto " style="width: 30rem">
            <input name="username" placeholder="Email" autofocus="true" type="email" class="form-control" id="email"  aria-label="input"
                    aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" th:text="#{login.password}">login.email</label>
        <div class="input-group mb-3 mx-auto " style="width: 30rem">
            <input name="password" placeholder="Password" autofocus="true" type="password" class="form-control" id="password"  aria-label="input"
                   aria-describedby="inputGroup-sizing-default">

        </div>
        <div style="color: red" th:if="${param.error}" th:text="#{login.error.message}">error</div>
    </div>


    <button type="submit" class="btn btn-primary align-center" th:text="#{login.email}">login.submit</button>

</form>

</body>
</html>